{%  load static %}

{%   block body %}

{%   include 'user_navigation.html'%}

<style>
    {#.tr{#}
    {#    text-align: center;#}

    .jumbotron {

        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        width:100%;
        text-align: center;
    }


</style>
<marquee style="font-family: 'Times New Roman', Times, serif; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top: 0.5%;">
   Apply for Job
</marquee>
<div class="container shadow-lg py-2 mb-2">
<div class="jumbotron">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <label class="font-weight-bold">Upload Resume</label>
        <input type="file" class="form-control" name="resume">
    </div>
    <input type="submit" value="Submit" class="btn btn-danger mt-3">
</form>
<form action="{{ form.action }}" method="{{ form.method }}">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="MakePayment to Apply for This Position" class="btn btn-success"/></p>
</form>
</div>
</div>

{% ifequal error "closed" %}
<script>
    alert("Application Cloased, last date is over");
    window.location=('{% url "user_latestjobs" %}')

</script>
{% endifequal %}

{% ifequal error "notopen" %}
<script>
    alert("Application  is not open ");
    window.location=('{% url "user_latestjobs" %}')

</script>
{% endifequal %}

{% ifequal error "done" %}
<script>
    alert("Job Application submitted successfully");
    window.location=('{% url "user_latestjobs" %}')

</script>
{% endifequal %}


{%   endblock  %}