{% load static %}

{% block body %}

{% include 'navigation.html'  %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

<style>
    .mydiv:hover{
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
        transform: translateY(-20px);
    }
</style>
<marquee style="font-family: 'Times New Roman', Times, serif; font-size:25; color:darkcyan; background-color:black; font-weight:bold; margin-top: 1%;">
    Contect us
</marquee>
<hr>

<div class="container mt-5">
    <br><br>
    <div class="row ">
        <div class="col-sm-3 mydiv">
            <h4 class="text-center"><i class="fas fa-phone-square"></i> Contact</h4>
            <p class="text-center">+91 8210394962</p>

        </div>

        <div class="col-sm-3 mydiv">
            <h4 class="text-center"><i class="fas fa-envelope"></i> Email Id</h4>
            <p class="text-center">mrpankaj481@gmail.com</p>

        </div>

        <div class="col-sm-3 mydiv">
            <h4 class="text-center"><i class="fas fa-address-card"></i> Address</h4>
            <p class="text-center">Ranchi Jharkhand</p>

        </div>
        <div class="col-sm-3 mydiv">
            <h4 class="text-center"><i class="far fa-clock"></i> Office Timming</h4>
            <p class="text-center">10:00 A.M To 7:00 P.M</p>

        </div>

    </div>

</div>

{% endblock %}